<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AssetBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AssetBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.net>
    <mailSettings>
      <smtp from="assetbuilder@expert-24.com" deliveryMethod="Network">
        <network defaultCredentials="false" host="mail.expert-24.com" password="ov57onx" userName="webmd"/>
        <!--<network host="mx01d-shr-08.portal.webmd.com" password="" userName="" />-->
        <!--<network host="mx00x-ops-07.portal.webmd.com" password="" userName="" />-->
        <!--<network host="mailhost.ghc.org" defaultCredentials="true" />-->
      </smtp>
    </mailSettings>
    <settings>
      <servicePointManager expect100Continue="true"/>
    </settings>
  </system.net>
  <userSettings>
    <AssetBuilder.Properties.Settings>
      <setting name="StoreIfNeg" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreviousWebService" serializeAs="String">
        <value />
      </setting>
      <setting name="AvailableLanguages" serializeAs="String">
        <value />
      </setting>
      <setting name="AvailableTargets" serializeAs="String">
        <value />
      </setting>
      <setting name="UpgradeSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RiskEntry" serializeAs="String">
        <value />
      </setting>
      <setting name="HideTranslationInheritance" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="McKessonReleaseName" serializeAs="String">
        <value>Enter release name here</value>
      </setting>
      <setting name="McKessonReleaseDescription" serializeAs="String">
        <value>Enter description here</value>
      </setting>
      <setting name="AvailableSources" serializeAs="String">
        <value />
      </setting>
      <setting name="EncyclopaediaLink" serializeAs="String">
        <value>/Encyclopaedia/DisplayArticle</value>
      </setting>
      <setting name="WebService" serializeAs="String">
        <value>https://apps.expert-24.com/webbuilder/data.asmx</value>
      </setting>
      <setting name="HelpUrl" serializeAs="String">
        <value>https://apps.expert-24.com/help/Expert-24_Help.htm</value>
      </setting>
      <setting name="TextAssetLocation" serializeAs="String">
        <value>https://apps.expert-24.com/webbuilder/TextAssets/</value>
      </setting>
      <setting name="Secret" serializeAs="String">
        <value />
      </setting>
      <setting name="ClientID" serializeAs="String">
        <value />
      </setting>
      <setting name="SaaSIdentity" serializeAs="String">
        <value />
      </setting>
      <setting name="SaaSEndpoint" serializeAs="String">
        <value />
      </setting>
    </AssetBuilder.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <applicationSettings>
    <AssetBuilder.Properties.Settings>
      <setting name="McKesson_Mode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AssetBuilder_Data_Data" serializeAs="String">
        <value>https://apps.expert-24.com/webbuilder/data.asmx</value>
      </setting>
    </AssetBuilder.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
